body{
    background-image: url(https://images.pexels.com/photos/1480807/pexels-photo-1480807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    margin: 50px;
}
div{
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 255, 255);
    padding: 12px;
    
}
header h1{
    margin: 6px;
}
div.post{
    background: rgb(246, 237, 219);
    margin-top: 23px;

}
div.post img{
   width: 100%;
}
div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}

div.container {
    width: 600px;
    margin: auto;
}
