body {
    background-color: rgb(238, 231, 231);
    margin: 0;
}
header {
    background-color: white;
    padding: 10px;
    
}

header h1 {
    margin: 0;
}
header h2{
    justify-content: space-between;
}
div.post {
    background: white;

}

div.post img {
   width: 100%;
}

div.container {
    width: 600px;
    margin: auto;
}
